*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cabecalho{
    display: flex;
    justify-content: space-around;
    font-family: "Poppins", sans-serif;
    margin-top: 20px;
    color: white;
    margin-bottom: 100px;
}

.logo{
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 25px;
    color: rgb(115, 204, 252);
      
}

.nav-itens{
    list-style: none;
    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;

}

.nav-itens>li{
    padding-left: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.bar{
    list-style: none;
    display: flex;
}

.login{
    padding: 10px 40px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    background-color:#222;
    cursor: pointer

}

.cadastrar{
    padding: 10px 40px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    background-color:rgb(115, 204, 252);
    cursor: pointer

}




body {
    color: white;
    background-color: #222;
    }
    
    
    
    .body{
        width: auto;
        margin: auto;
        
    }

    .conteiner{
        display: table;
        margin: auto;
    }

    .imagem{
        display: table-cell;
    }

    .texto{
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: italic;
        display: table-cell;
        float: left;
        width: 500px;
        margin-top: 40px;
        margin-right: 20px;


    }
    
   

    .imagem1{
        display: table-cell;
    }

    .texto1{
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: italic;
        display: table-cell;
        float: right;
        width: 500px;
        margin-top: 40px;
        margin-left: 20px;


    }

    .imagem2{
        display: table-cell;
    }

    .texto2{
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: italic;
        display: table-cell;
        float: left;
        width: 500px;
        margin-top: 40px;
        margin-left: 20px;


    }

    .imagem3{
        display: table-cell;
    }

    .texto3{
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: italic;
        display: table-cell;
        float: right;
        width: 500px;
        margin-top: 40px;
        margin-left: 20px;


    }

    .imagem4{
        display: table-cell;
    }

    .texto4{
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: italic;
        display: table-cell;
        float: left;
        width: 500px;
        margin-top: 40px;
        margin-left: 20px;


    }

    .imagem5{
        display: table-cell;
    }

    .texto5{
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: italic;
        display: table-cell;
        float: right;
        width: 500px;
        margin-top: 40px;
        margin-left: 20px;
        margin-bottom: 70px;


    }


    

    